<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="O'Coffee, magasin de cafés éco-responsables situé à Hauts-de-Cloques">
  <title>O'Coffee</title>
  <link rel="icon" type="image/x-icon" href="/integration/images/logo.svg">
  <link rel="stylesheet" href="/integration/css/style.css">
</head>

<body>
  <header>
    <h1>O'Coffee</h1>
    <nav class="header-nav">
      <ul class="nav-links">
        <li class="nav-items">
          <a tabindex=0 class="item-link" href="/">Accueil</a>
        </li>
        <li class="nav-items">
          <a  tabindex=0 class="item-link" href="/catalogue">Notre Catalogue</a>
        </li>
        <li class="nav-items">
          <a tabindex=0 class="item-link" href="/panier">Votre Panier</a>
        </li>
        <li class="nav-items">
          <a tabindex=0 class="item-link" href="/favoris">Vos Produits Favoris</a>
        </li>
        <li class="nav-items">
          <a tabindex=0 class="item-link" href="/connection">Se Connecter</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    </nav>
  </header>

  <main>