<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ocoffee, magasin de café à Hauts-de-Cloques</title>
  <link rel="stylesheet" href="../../../integration/css/reset.css">
  <link rel="stylesheet" href="../../../integration/css/style.css">
</head>

<body>
  <header>
    <div>
      <a href='#'>
        <img src="" alt="Logo de la boutique O'coffee">
      </a>
      <button>Menu</button>
    </div>
    <h1>O'Coffee</h1>
    <nav>
      <ul>
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Notre Catalogue</a>
        </li>
        <li>
          <a href="#">Boutique (En Construction)</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>