<%- include('partials/header') %>

<img class= "error-img" src="/integration/images/Coffee404.webp" alt="Image d'erreur - Page non trouvée">
<h2>Oops ! La page demandée n'existe pas !</h2>

<%- include('partials/footer') %>