<%- include('partials/header') %>

<section class="cart__forms">
  <h4>Préférences de livraisons</h4>
  <form class="forms" action="/paiement" method="POST">
    <fieldset>
      <p class="input">
        <legend>Où souhaitez-vous être livrés ?</legend>
        <label class="container">Mon adresse courante
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Autre adresse
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
<!--         <label class="container"><input type="checkbox" name="adress" value="main-address">Mon adresse courante<span class="checkmark"></span></label>
        <label class="container"><input type="checkbox" name="adress" value="other-address" checked>Autre adresse<span class="checkmark"></span></label> -->
      </p>
    </fieldset>
    <fieldset>
      <p class="input">
        <legend>Adresse</legend>
        <label>Rue</label>
        <input type="text" name="street" required>
        <label>Code postal</label>
        <input type="number" name="zip" required>
        <label>Ville</label>
        <input type="text" name="city" required>
      </p>
      <p class="input">
        <legend>Informations complémentaires</legend>
        <label>Interphone, bâtiment, etc.</label>
        <textarea name="bonus" cols="10" rows="3"></textarea> 
      </p>
    </fieldset>
    <fieldset>
      <p class="input">
        <legend>Informations liées au paiement</legend>
        <label>Type de carte&nbsp;&nbsp;<i class="icon-card"></i></label>
        <select tabindex=0 class="dropdown" name="card" id="card" aria-label="Carte de Paiement" required>
          <option value="" disabled selected hidden>Sélectionnez</option>
          <option value="Visa">Visa</option>
          <option value="Electron">Electron</option>     
          <option value="MasterCard">MasterCard</option>
          <option value="AmEx">American Express</option>
          <option value="eCard">eCarte Bleue</option>
        </select>
      </p>
      <p class="input">
        <label>Numéro de carte</label>
        <input type="number" name="ccnum" maxlength="16" placeholder="_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _" required>
        <label>Nom du porteur</label>
        <input type="text" name="ccowner" required>
        <label>Date de validité</label>
        <input type="date" name="ccexp" required>
        <label>Numéros de sécurité</label>
        <input type="password" name="cvv" maxlength="3" placeholder="_ _ _" required>
      </p>
    </fieldset>
  <div class="row">
    <a class="catalogue-display cart" title="Catalogue" href="/panier">Revenir en arrière</a>
    <button class="catalogue-display cart" tabindex=0 type="submit">Procéder au paiement</button>
  </div>
  </form>
</section>



<%- include('partials/footer') %>